<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
<<<<<<< HEAD
        <link rel="stylesheet" href="css/login.css"/>
        <link rel="stylesheet" href="css/home.css"/>
        {{!-- <link rel="stylesheet" href="css/card.css"/> --}}
        <link rel="stylesheet" href="css/profile.css"/> 
=======

        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="css/card.css">
        <link rel="stylesheet" href="css/profile.css">
>>>>>>> 0ead46fa39ef7051fc763f37b950caa871cbd97f
</head>

<body>
        <div id="header">
            <div class="container">
                <nav>
                    <ul id="sidemenu">
                        <li><a href="/">Home</a> </li>
                        {{#if loggedIn}}
                        <li><a href="/logout">Logout</a> </li>
                        {{else}}
                        <li><a href="/login">Login/Signup</a> </li>
                        {{/if}}
                        <li><a href="/profile"> Profile</a> </li>
                        {{{body}}}
                        <i class="fa-solid fa-xmark" onclick="closemenu"></i>
                    </ul>
                    <i class="fa-solid fa-bars" onclick="openmenu"></i>
                </nav>
                {{#if loggedIn}}
                <script src="/js/logout.js"></script>
                {{/if}}
                <div class="header-text">
                    <h1>Look <span> Up </span>! Have a Look!</h1>
                </div>
            </div>
        </div>
        {{!-- About --}}

    <div id="contact" class="contact"> 
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Us</h1>
</body>

</html>