<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
        <link rel="stylesheet" href="css/login.css"/>
        <link rel="stylesheet" href="css/home.css"/>
        {{!-- <link rel="stylesheet" href="css/card.css"/> --}}
        <link rel="stylesheet" href="css/profile.css"/> 
</head>
{{!-- <nav class="jd">
    HOME
</nav> --}}
<body>
        <div id="header">
            <div class="container">
                <nav class="move1">
                    <ul id="sidemenu">
                        <div class="menuplus">
                        <li><a href="/">Home</a> </li>
                        {{#if logged_in}}
                        <li><button type="submit" id="logout">Logout</button> </li>
                        {{else}}
                        <li><a href="/login">Login</a> </li>
                        {{/if}}
                        <li><a href="/profile"> Profile</a> </li>
                        <div class="header-text">
                            <h1>Look <span> Up </span></h1>
                        </div>
                        </div>
                        {{{body}}}
                        
                    </ul>
                    
                </nav>
                
                {{#if logged_in}}
                <script src="/js/logout.js"></script>
                {{/if}}
                
            </div>
        </div>
        
        {{!-- About --}}

    {{!-- <div id="contact" class="contact"> 
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>         --}}
    
    <script src="/js/login.js"></script>
    <script src="/js/upload.js"></script>

</body>


</html>