{{#each posts as |post|}}
<div class="center">
  <div class="article-card">
    <div class="content">
      <p class="date">Posted on: {{format_date date_created}}</p>
      <p class="title">Posted by: {{user.username}}</p>
    </div>
    <div>
      <a href="{{file_URL}}" target="_blank">
      <img src="{{file_URL}}" alt="article-cover" width="450px" height="450px"/>
      </a>
    </div>
  </div>
    
</div>
{{/each}}