{{#each posts as |post|}}
<div class="center">
    <a href="{{file_URL}}">
    <div class="article-card">
      <div class="content">
        <p class="date">{{date_created}}</p>
        <p class="title">{{username}}</p>
      </div>
      <img src="{{file_URL}}" alt="article-cover" />
    </div>
    </a>
</div>
{{/each}}