{{#each posts as |post|}}
<div class="center">
    <a href="{{file_URL}}" target="_blank">
    <div class="article-card">
      <div class="content">
        <p class="date">Posted on: {{format_date date_created}}</p>
        <p class="title">Posted by: {{user.username}}</p>
      </div>
      <img src="{{file_URL}}" alt="article-cover" />
    </div>
    </a>
</div>
{{/each}}