<div class="center">
    <div class="article-card">
      <div class="content">
        <p class="date">Date</p>
        <p class="title">UserName or Discription</p>
      </div>
      <img src="/homepage/look-up bg.jpeg" alt="article-cover" />
    </div>
  </div>