<div class="card">
  <div class="content">
    <div class="detail">
      <h2>Welcome to {{username}}'s profile!</h2>
    </div>
  </div>
</div>

<div>
  <form id="pictureUpload">
    <div>
      <label for="file" class="form-label">Upload an Image Here<br> </label>
      <input class="form-control" type="file" id="file" name="file" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{#each posts as |post|}}
<div class="center">

  <div class="article-card">
    <div class="content">
      <p class="date">Posted on: {{format_date date_created}}</p>
    </div>
    <div>
      <a href="{{file_URL}}" target="_blank">
        <img src="{{file_URL}}" alt="article-cover" width="450px" height="450px" />
      </a>
    </div>
  </div>

</div>
{{/each}}

<script src="/js/upload.js"></script>