
      <h2 class="small">{{username}}<br /><span>Welcome to your profile!</span></h2>
      
=======

{{!-- Upload a photo --}}
<div class='small1'>
  <form id="pictureUpload">
    <div>
      <label for="file" class="form-label">Upload an Image Here<br> </label>
      <input class="form-control" type="file" id="file" name="file" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


{{!-- User post as a card --}}
{{#each posts as |post|}}
<div class="center28">

  <div class="article-card28">
    <div class="content28">
      <p class="date">Posted on: {{format_date date_created}}</p>
    </div>
    <div>
      <a href="{{file_URL}}" target="_blank">
        <img src="{{file_URL}}" alt="article-cover" width="450px" height="450px" />
      </a>
    </div>
  </div>

</div>
{{/each}}

<script src="/js/upload.js"></script>